<div class="page-header">
  <h1>{{topic.name}}</h1>
</div>

<p>
{{topic.description}}
</p>

<h2><ng-pluralize count="topic.Messages.length" when="{'0': '0 viestiä', '1': '1 viesti', 'other': '{} viestiä'}"></ng-pluralize></h2>

<ul ng-repeat="message in topic.Messages" class="media-list">
    <li class="media">
        <div class="media-body">
            <h4 class="media-heading">
                <a href="#/messages/{{message.id}}">{{message.title}}</a>
            </h4>
            
            <p>{{message.content}}</p>
            
            <p class="text-muted">
                KÄYTTÄJÄTUNNUS, {{message.createdAt | date:'dd.MM.yyyy @ h:mma'}}
            </p>
        </div>
    </li>
</ul>

<h2>Lisää oma viestisi</h2>

<form name="newMessageForm">
  <div class="form-group">
    <label>Otsikko</label>
    <input ng-model="newMessage.title" type="text" class="form-control" required ng-minlength="1">
  </div>

  <div class="form-group">
    <label>Viesti</label>
    <textarea ng-model="newMessage.content" class="form-control" required ng-minlength="1"></textarea>
  </div>
  <button ng-click="addMessage()" ng-disabled="newMessageForm.$invalid" class="btn btn-success">Lisää viesti</button>
</form>
